In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [10]:
url = "https://www.iplt20.com/auction/2022"

In [11]:
req = requests.get(url)
# now lets check the status code 
req.status_code

200

In [13]:
req.text[:200]

'<!DOCTYPE html>\n<html lang="en">\n<head>\n<!-- Google Tag Manager -->\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({\'gtm.start\':\nnew Date().getTime(),event:\'gtm.js\'});var f=d.getElementsByTagNam'

In [14]:
soup = BeautifulSoup(req.text,'lxml')

In [17]:
table = soup.find('table',class_="ih-td-tab auction-tbl")

In [18]:
# now lets find the column names
name = table.find_all('th')
title = []
for i in name:
    title.append(i.text)
print(title)

['TEAM', 'FUNDS REMAINING', 'OVERSEAS PLAYERS ', 'TOTAL PLAYERS']

In [19]:
# for rows 
df = pd.DataFrame(columns=title)
l=0

body = table.find_all('tr')

for i in body[1:]:
    row = i.find_all('td')
    rows = [td.text for td in row]
    df.loc[l] = rows
    l +=1

In [21]:
df.head(5)

,TEAM,FUNDS REMAINING,OVERSEAS PLAYERS,TOTAL PLAYERS
0,\n\n\n\n\nChennai Super Kings\n\n,"₹2,95,00,000",8,25
1,\n\n\n\n\nDelhi Capitals\n\n,"₹10,00,000",7,24
2,\n\n\n\n\nGujarat Titans\n\n,"₹15,00,000",8,23
3,\n\n\n\n\nKolkata Knight Riders\n\n,"₹45,00,000",8,25
4,\n\n\n\n\nLucknow Super Giants\n\n,₹0,7,21

In [22]:
# Now we have to clean the Team column 
def preprocess(data):
    return data[5:-2]
df['TEAM'] = df['TEAM'].apply(lambda x: preprocess(x))

In [23]:
df.head(5)

                    TEAM FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0    Chennai Super Kings    ₹2,95,00,000                 8            25
1         Delhi Capitals      ₹10,00,000                 7            24
2         Gujarat Titans      ₹15,00,000                 8            23
3  Kolkata Knight Riders      ₹45,00,000                 8            25
4   Lucknow Super Giants              ₹0                 7            21

In [24]:
# now we will emport the file in csv format

#df.to_csv('tata_ipl_auction.csv')